body {
    font-family: "Molengo","URW Gothic L",sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    background: #414243;
    color: #E7E8E9;
}

.rascalcontent { /* named to avoid conflict with phpBB .content rules */
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}
