body {
    /* line-height: 1.4em; */
}

/* Login */
.centered {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#login-form {
    margin-top: 300px;
    padding: 0; /* to reset -webkit-padding-start */
}

#login-form li {
    list-style-type: none;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 120px;
}

#password-field {
    width: 300px;
    height: 34px;
    font-size: 2em;
    margin-right: 10px;
}

#login {
    width: 120px;
}

#message-panel {
    float: right;
    clear: none;
    color: #EF4A42;
    margin: 5px;
    height: 40px;
    width: 642px;
}

/* log and monitor */
.zebra {
    font-size: 0.8em;
    line-height: 2em;
    width: 100%;
}

.log-display {
    border: 2px solid #414243;
    background-color: black;
    font-family:'Courier', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

tr.alt td {
    background: #212223;
}

tr.over td {
    color: #00ff00;
}

#mark {
    width: 120px;
    margin-bottom: 20px;
}

#reset {
    width: 220px;
}
