body {
    /* line-height: 1.4em; */
}

/* Login */
.centered {
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

#password-field {
    margin-right: 5px;
    width: 300px;
    height: 34px;
    font-size: 2em;
}

#login-btn {
    margin: 3px 0 7px 0;
    width: 120px;
}

/* log and monitor */
.zebra {
    font-size: 0.8em;
    line-height: 2em;
    width: 100%;
}

.log-display {
    border: 2px solid #414243;
    background-color: black;
    font-family:'Courier', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

tr.alt td {
    background: #212223;
}

tr.over td {
    color: #00ff00;
}

#mark {
    width: 120px;
    margin-bottom: 20px;
}

.log-mark {
    color: #95C3DB; /* light blue for log page */
}

#reset {
    width: 220px;
}
