div.album {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#frame {
    position: relative;
    background-color: #F5F5F5;
    border: 1px solid #FFFFFF;
    width: 660px; 
    height: 500px;
    margin: 20px auto 10px;
    -moz-box-shadow: 0 0 22px #111;
    -webkit-box-shadow: 0 0 22px #111;
    box-shadow: 0 0 22px #111;
}

#frame.dragover {
    border: 1px solid #6666DD;
    -moz-box-shadow: 0 0 22px #6666DD;
    -webkit-box-shadow: 0 0 22px #6666DD;
    box-shadow: 0 0 22px #6666DD;
}
    
#slideshow {
    position: relative;
    top: 10px;
    left: 10px;
    width: 640px;
    height: 478px;
}

#slideshow IMG {
    position: absolute;
    width: 640px;
    height: 478px;
    z-index: 8;
    opacity: 0.0;
}

#slideshow IMG.active {
    z-index: 10;
    opacity: 1.0;
}

#slideshow IMG.last-active {
    z-index: 9;
}

#dropmsg {
    position: absolute;
    width: 100%;
    margin-top: 200px;
    font-size: 36px;
    font-weight: bold;
    color: #888888;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

#progress
{
    display: block;
    width: 640px;
    padding: 3px 0;
    margin: 10px auto 10px;
    border: 1px solid #446;
    border-radius: 5px;
    background: #eee url("/static/images/progressbg_640.gif") 100% 0 repeat-y;
    opacity: 0;
}

#status {
}

