body {
    /* padding-top: 50px; */    /* no gap */
    padding-top: 58px;          /* gap below top bar */
    padding-bottom: 0;
    font-family: "Molengo","URW Gothic L",sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    color: #F8F8F8;
    background-color: #BBB;
    /* background-color: #666; */
}

p {
    font-family: "Molengo","URW Gothic L",sans-serif;
    font-size: 1em;
    line-height: 1.4em;
}

a, a:hover {
    color: #631D1D;
}

[class^="icon-"],
[class*=" icon-"] {
    background-image: url("/static/images/glyphicons-halflings.png");
}

.icon-white {
    background-image: url("/static/images/glyphicons-halflings-white.png");
}

/*.jqplot-target { */
/*    color: #E7E8E9;  Change jQplot default text color because it matches the Rascal bg color */
/* }*/

/* topbar */
.navbar-inverse .navbar-inner, .footer {
  background-color: #424242;
  background-image: -moz-linear-gradient(top, #4A4A4A, #3A3A3A);
  background-image: -ms-linear-gradient(top, #4A4A4A, #3A3A3A);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4A4A4A), to(#3A3A3A));
  background-image: -webkit-linear-gradient(top, #4A4A4A, #3A3A3A);
  background-image: -o-linear-gradient(top, #4A4A4A, #3A3A3A);
  background-image: linear-gradient(top, #4A4A4A, #3A3A3A);
  border-color: #343434;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4A4A4A', endColorstr='#3A3A3A', GradientType=0);
}

.brand.rascal {
    padding-top: 5px;
    padding-bottom: 9px;
}

.navbar .nav .active > a {
    background-color: #3b3b3b;
}
/* end top bar */

.well.rascal {
    padding: 20px 60px;
    background-color: #666;
    border-color: #444;
}

.btn.rascal {
    font-family: "Lucida Grande","Lucida Sans",sans-serif;
    font-size: 16px;
}

@font-face {
  font-family: 'Molengo';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/Molengo-Regular.ttf');
}

@font-face {
  font-family: 'URW Gothic L';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/urw-gothic-l-book.ttf');
}

@font-face {
  font-family: 'DroidSans';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/DroidSans.ttf');
}

@font-face {
  font-family: 'DroidSans-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/DroidSans-Bold.ttf');
}

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/VT323.ttf');
}
