body {
    font-family: "Molengo","URW Gothic L",sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;
    color: #E7E8E9;
    background: #616263;
}

a {
    color:#A4211A;
    text-decoration: none;
}

li {
    list-style-type: none;
}

#topbar {
    height: 50px;
    text-align: right;
    background-color: #414243;
}

#nav {
    margin: 0;
    font-family: "Molengo","URW Gothic L",sans-serif;
    font-size: 1em;
}

#nav li {
    display: inline;
}

#nav a {
    color: #E7E8E9;
}

#rascallogo {
    clear: none;
    float: left;
    border: none;
    margin: 5px;
}

#button-bar {
    height: 50px;
}

input {
    margin: 5px;
    width: 120px;
}

#message-panel {
    float: right;
    clear: none;
    color: #EF4A42;
    margin: 5px;
    height: 40px;
    width: 642px;
}

#reload {
    float: right;
    clear: none;
    width: 160px;
}

.jqueryfiletree {
    background: #0A001F !important;
}

.jqueryfiletree a {
    background: #0A001F !important;
    color: #E7E8E9 !important;
    font-family: "Molengo","URW Gothic L",sans-serif;
    font-size: 1em;
}

.jqueryfiletree a:hover {
    background: #414243 !important;
}

#ft-background {
    background: #0A001F !important;
    border: 3px solid #414243;
    margin-top: -619px;
    height: 547px;
    width: 350px;
}

#new-file-folder-bar {
    background: #0A001F !important;
    border: 3px solid #414243;
    padding: 5px;
    width: 340px;
}

.rascalcontent { /* named to avoid conflict with phpBB .content rules */
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

#textfield {
    margin-left: 360px;
    padding: 3px;
    height: 600px;
}

.CodeMirror-scroll {
    height: 600px !important;
    border: 3px solid #414243;
}

.log-display {
    border: 2px solid #414243;
    background-color: black;
    font-family:'Courier', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.zebra {
    font-size: 0.8em;
    line-height: 2em;
}

tr.alt td {
    background: #212223;
}

tr.over td {
    color: #00ff00;
}

.jqplot-axis {
    color: #fff;
}

/* Zurb awesome buttons */
.awesome, .awesome:visited {
    display: inline-block;
    font-size: 16px;
    padding: 8px 14px 9px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    border-style: none;
    position: relative;
    cursor: pointer;
}

.awesome:hover {
    background-color: #111; color: #fff;
}

.awesome:active {
    top: 1px;
}

.small.awesome, .small.awesome:visited {
    font-size: 11px;

}
.medium.awesome, .medium.awesome:visited {
    font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.large.awesome, .large.awesome:visited {
    font-size: 16px; padding: 8px 14px 9px;
}

.blue.awesome, .blue.awesome:visited {
    background-color: #51A8CB;
}

.blue.awesome:hover {
    background-color: #475373;
}
.red.awesome, .red.awesome:visited {
    background-color: #EF4A42;
}

.red.awesome:hover {
    background-color: #872300;
}
/* end Zurb awesome buttons */

@font-face {
  font-family: 'URW Gothic L';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/urw-gothic-l-book.ttf');
}

@font-face {
  font-family: 'DroidSans';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/DroidSans.ttf');
}

@font-face {
  font-family: 'DroidSans-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/DroidSans-Bold.ttf');
}

@font-face {
  font-family: 'Molengo';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/Molengo-Regular.ttf');
}

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/VT323.ttf');
}

#serial-text {
    border: 10px solid #E7E8E9;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'VT323', 'Courier', sans-serif;
    font-size: 100px;
    background-color: #111111;
    color: #A4211A;
}
