/* styles for the Rascal documentation tab */
.doc-panel {
    position: absolute;
    top: 50px;
    width: 350px;
    /* left = width + 2 * padding (2 * 19) + 2 * border (2 * 1) = width + 40 */
    left: -390px;
    color: #333333;
    background-color: #ffffff;
    /* font-size: 0.9em; */
}

.doc-panel a.doc-tab {
    background: transparent url(/static/images/doc-tab.png) no-repeat scroll 0 0;
    display: block;
    height: 100px;
    left: 56px;
    bottom: 12px;
    position: relative;
    float: right;
    text-indent: -9999px;
    width: 36px;
    outline: none;
}
