.msgbox {
    padding: 10px 0 15px;
}

.address-input {
     line-height: 0.8em;
}

#sender, #recipients, #subject {
    border: 2px solid #E7E8E9;
    color: #FFFFFF;
    background-color: #111111;
    width: 25em;
    font-family:'Courier', sans-serif;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 15px;
}

.email-body {
    border: 3px solid #E7E8E9;
    color: #FFFFFF;
    background-color: #111111;
    width: 25em;
    font-family: 'Courier', sans-serif;
    font-size: 1.25em;
    margin-top: 10px;
    margin-bottom: 15px;
}
