/* Adjust demo.css */
body {
    /* margin: 0.5em; */
}
/* Styles for demo rascal.upload */
#progress
{
    display: block;
    width: 420px;
    padding: 3px 0;
    margin: 10px 0;
    border: 1px solid #446;
    border-radius: 5px;
    background: #eee url("/static/images/progressbg_420.gif") 100% 0 repeat-y;
    opacity: 0;
}
#status {
    padding: 10px 0;
}
