<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand rascal" href="/"><img id="rascallogo" src="/editor/static/images/rm-logo-words-only-light.png" /></a>
            <div class="nav-collapse rascal">
                <ul class="nav_rascal">
                    <li><a href="/editor/">editor</a> | </li>
                    <li><a href="/editor/log">log</a> | </li>
                    <li><a href="/editor/config">config</a> | </li>
                    <li><a href="/editor/monitor">monitor</a></li>
                </ul>
                <ul class="nav_rascal">
                    <li><a href="/editor/logout" class="logout">log out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
