<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log in</title>
    {% include "include/editor-head.html" %}
    <link rel="stylesheet" type="text/css" href="/editor/static/css/editor-other.css">
    {% include "include/editor-scripts.html" %}
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand rascal" href="/editor/"><img id="rascallogo" src="/editor/static/images/rm-logo-words-only-light.png" /></a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="centered">
            <form action="" method=post>
                <ul id="login-form">
                      <li>Password:</li>
                      <li><input id="password-field" type=text name=password><input id="login" type="submit" value="Login" class="btn btn-large btn-danger rascal" alt="Login"></li>
                      {% for message in get_flashed_messages() %}
                      <li><div class=flash>{{ message }}</div></li>
                      {% endfor %}
                </ul>
            </form>
        </div>
    </div>
    <script>
        $(".flash").delay(5000).fadeOut("slow");
    </script>
</body>
</html>
