<!DOCTYPE html>
<!-- Editor login -->
<!-- JSLint 8 Oct 2012 -->
<html lang="en">
<head>
    <title>Log in</title>
    {% include "include/editor-head.html" %}
    <link rel="stylesheet" type="text/css" href="/editor/static/css/editor-other.css">
    {% include "include/editor-scripts.html" %}
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand rascal" href="/"><img id="rascallogo" src="/editor/static/images/rm-logo-words-only-light.png" /></a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="centered">
            <form action="" method="post">
                <table id="login-form" align="center">
                    <tr>
                        <td colspan="2">Password:</td></tr>
                    <tr>
                        <td><input id="password-field" type="{{ type }}" name="password"></td>
                        <td><input id="login-btn" type="submit" value="Login" class="btn btn-large btn-danger rascal"></td>
                    </tr>
                    <tr valign="top">
                        <td>
                            {% for message in get_flashed_messages() %}
                            <div class="flash">{{ message }}</div>
                            {% endfor %}
                        </td>
                        <td><input id="mode" name="showPassword" type="checkbox" value="True"> Show password</td>
                    </tr>
                </table>
            </form>
         </div>
    </div>
    <script>
        $('.flash').delay(5000).fadeOut('slow');

        $('#mode').click(function () {
            "use strict";
            if ($('#password-field').prop('type') === 'text') {
                $('#password-field').prop('type', 'password');
            } else {
                $('#password-field').prop('type', 'text');
            }
        });

        $(document).ready(function () {
            "use strict";
            if ($('#password-field').prop('type') === 'text') {
                $('#mode').attr('checked', 'checked');
            }
        });
    </script>
</body>
</html>
