<!DOCTYPE html>
<html lang="en">
<head>
    <title>Config</title>
    {% include "include/editor-head.html" %}
    <link rel="stylesheet" type="text/css" href="static/css/editor-other.css">
    {% include "include/editor-scripts.html" %}
    <style>
        /* Styles for Tab states */
        .TabPanels .heading {
            display: none;
        }
        .TabPanels .heading.active {
            display: block;
        }
        .TabPanels .tabPanel {
            display: none;
        }
        .TabPanels .tabPanel.active {
            display: block;
        }
        .tabPanel a {
            color: #9FD4FF;
        }
        .tabpanel a:hover {
            text-decoration: underline;
        }
        /* End Styles for Tab states */
    </style>
</head>
<body>
    {% include "include/editor-topbar.html" %}

    <div class="container-fluid">
        &nbsp;<br />
        <p>Some useful configuration info:</p>
        
        <pre style="background-color: #F5F5F5">
{{ processes }}
        </pre>
        <hr />
    </div>
    
    <div class="container-fluid">
        <div class="row-fluid">    
            <div class="span6">
                <p>A weapon of mass destruction:</p>
                <form>
                    <input id="reset" type="button" value="Destroy all my work" class="btn btn-large btn-danger rascal" alt="Destroy all my work" />
                </form>
                <p>If you click the "Destroy all my work" button, all the changes you've made to your Rascal's web interface will be deleted.</p>
                <p>(What this really does is to return the Git repository in /var/www to its last committed state.)</p>
            </div> <!-- /span6 -->
            <div class="span6">
                <div style="display: block">
                    <div class="TabPanels">
                        <div id="heading-0" class="heading active">
                            <p>About the editor:</p>
                        </div>
                        <div id="heading-1" class="heading">
                            <p>Choose editor:</p>
                            <div class="btn-group" data-toggle="buttons-radio">
                                <button id="editor-cm" class="btn btn-large btn-primary rascal" style="width: 180px">CodeMirror 2</button>
                                <button id="editor-a" class="btn btn-large btn-primary rascal" style="width: 120px">Ace</button>
                            </div>
                        </div>  
                    
                        <div id="editor-cm-desc" class="tabPanel active">
                            <p><a href="http://codemirror.net/" name="CodeMirror" title="CodeMirror" target="_editor">{} CodeMirror /* In-browser code editing made bearable */</a><br />
                            CodeMirror is a JavaScript library that can be used to create a relatively
                            pleasant editor interface for code-like content ― computer programs, HTML markup and similar.
                            If a mode has been written for the language you are editing, the code will be coloured and
                            the editor will optionally help you with indentation.<br />
                            <a href="static/about/cm-keyboard.html" name="CodeMirror" title="CodeMirror" target="_editor">keyboard shortcuts</a> |
                            <a href="static/codemirror/index.html" name="CodeMirror" title="CodeMirror" target="_editor">documentation</a> |
                            <a href="static/bootstrap/docs/index.html" name="bootstrap" title="Bootstrap" target="_editor">bootstrap docs</a>
                            </p>
                        </div>
                       <div id="editor-a-desc" class="tabPanel">
                            <p><a href="http://ace.ajax.org/" name="Ace" title="Ace" target="_editor">Ajax.org Cloud9 Editor</a><br />
                            Ace is a standalone code editor written in JavaScript.
                            The goal is to create a web based code editor that matches and extends the features, usability and
                            performance of existing native editors such as TextMate, Vim or Eclipse.
                            Ace is developed as the primary editor for Cloud9 IDE and the successor of the Mozilla Skywriter (Bespin) Project.<br />
                            <a href="https://github.com/ajaxorg/ace/wiki" name="Ace wiki" title="Ace wiki" target="_editor">wiki</a> |
                            <a href="https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts" name="Keyboard shortcuts" title="keyboard shortcuts" target="_editor">keyboard shortcuts</a> |
                            <a href="static/ace/build/kitchen-sink.html" name="kitchen sink demo" title="kitchen sink demo" target="_editor">kitchen sink demo</a> |
                            <a href="static/bootstrap/docs/index.html" name="bootstrap" title="Bootstrap" target="_editor">bootstrap docs</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div> <!-- /span6 -->
        </div> <!-- /row-fluid -->
    </div> <!-- /container-fluid -->
    
    <div id="advanced" style="display: none;">{{ advanced }}</div>
    <div id="editor" style="display: none;">{{ editor }}</div>
    
    <script type="text/javascript">
        $("#reset").click( function() {
            $.post("/editor/reset", "text");
        });
        
        function selectEditor(advanced, editor) {
            $('.heading').removeClass('active');
            if (advanced === '0') {
                $('#heading-' + advanced + ', #' + editor + '-desc').addClass('active');
            } else {
                $('.tabPanel').removeClass('active');
                $('#heading-' + advanced + ', #' + editor + ', #' + editor + '-desc').addClass('active');
            }
        }
        
        function setEditor (editor) {
            $.post('/editor/set_editor', { editor: editor }, function (response) {
                console.log('set_editor ' + editor + ': ' + response);
                selectEditor('1', editor);
            });
        }

        $('#editor-cm').click(function () {
            setEditor('editor-cm');
        });

        $('#editor-a').click(function () {
            setEditor('editor-a');
        });

        $(document).ready(function () {
            selectEditor($('#advanced').text(), $('#editor').text());
        });
    </script>
</body>
</html>
