<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Config</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    
    <link href="static/css/bootstrap-2.0.3.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
    
    <link rel="stylesheet" type="text/css" href="/editor/static/css/editor-all.css">
    <link rel="stylesheet" type="text/css" href="/editor/static/css/editor-other.css">
    <link rel="stylesheet" type="text/css" href="/editor/static/css/UISegmentedControl.css">

    <script src="/editor/static/js/jquery-1.7.2.js"></script>
    <style>
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand rascal" href="/editor/"><img id="rascallogo" src="/editor/static/images/rm-logo-words-only-light.png" /></a>
                <div class="nav-collapse rascal">
                    <ul class="nav_rascal">
                        <li><a href="/editor/">editor</a> | </li>
                        <li><a href="/editor/log">log</a> | </li>
                        <li><a href="/editor/config">config</a> | </li>
                        <li><a href="/editor/monitor">monitor</a></li>
                    </ul>
                    <ul class="nav_rascal">
                        <li><a href="/editor/logout" class="logout">log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class=page>&nbsp;
          {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
          {% endfor %}
        </div>
        
        <p>Some useful configuration info:</p>
        
        <pre style="background-color: #F5F5F5">
{{ processes }}
        </pre>
        <hr />
    </div>
    
    <div class="container-fluid">
        <div class="row-fluid">    
            <div class="span6">
                <p>A weapon of mass destruction:</p>
                <form>
                    <input id="reset" type="button" value="Destroy all my work" class="btn btn-large btn-danger rascal" alt="Destroy all my work">
                </form>
                <p>If you click the "Destroy all my work" button, all the changes you've made to your Rascal's web interface will be deleted.</p>
                <p>(What this really does is to return the Git repository in /var/www to its last committed state.)</p></td>
            </div>
            <div class="span6">
                <p>Choose editor:</p>
                <div class="Tabs segmentedControlBase" style="width: 300px;">
                    <input id="editor-cm" type="button" class="button segmentedControl selected" value="CodeMirror 2" />
                    <input id="editor-a" type="button" class="button segmentedControl" value="Ace" />
                </div>
                <div class="TabPanels">
                    <div id="editor-cm-desc" class="tabPanel selected">
                        <p><a href="http://codemirror.net/" name="CodeMirror" title="CodeMirror" target="_editor">{} CodeMirror /* In-browser code editing made bearable */</a><br />
                        CodeMirror is a JavaScript library that can be used to create a relatively
                        pleasant editor interface for code-like content ― computer programs, HTML markup and similar.
                        If a mode has been written for the language you are editing, the code will be coloured and
                        the editor will optionally help you with indentation.<br />
                        <a href="static/codemirror2/index.html" name="CodeMirror2" title="CodeMirror2" target="_editor">documentation</a>
                        </p>
                    </div>
                   <div id="editor-a-desc" class="tabPanel">
                        <p><a href="http://ace.ajax.org/" name="Ace" title="Ace" target="_editor">Ajax.org Cloud9 Editor</a><br />
                        Ace is a standalone code editor written in JavaScript.
                        The goal is to create a web based code editor that matches and extends the features, usability and
                        performance of existing native editors such as TextMate, Vim or Eclipse.
                        Ace is developed as the primary editor for Cloud9 IDE and the successor of the Mozilla Skywriter (Bespin) Project.<br />
                        <a href="https://github.com/ajaxorg/ace/wiki" name="Ace wiki" title="Ace wiki" target="_editor">wiki</a> |
                        <a href="https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts" name="Keyboard shortcuts" title="keyboard shortcuts" target="_editor">keyboard shortcuts</a> |
                        <a href="static/ace/build/kitchen-sink.html" name="kitchen sink demo" title="kitchen sink demo" target="_editor">kitchen sink demo</a>
                        </p>
                    </div>
                </div>
            </div>        
        </div> <!-- /row-fluid -->
    </div> <!-- /container-fluid -->
    
    <div id="editor" style="display: none;">{{ editor }}</div>
    
    <script type="text/javascript">
        $("#reset").click( function() {
            $.post("/editor/reset", "text");
        });
        
        function selectEditor(editor) {
            $('.segmentedControl, .tabPanel').removeClass('selected');
            $('#' + editor + ', #' + editor + '-desc').addClass('selected');
        }
        
        function setEditor (editor) {
            $.post('/editor/set_editor', { editor: editor }, function (response) {
                console.log('set_editor ' + editor + ': ' + response);
                selectEditor(editor);
            });
        }

        $('#editor-cm').click(function () {
            setEditor('editor-cm');
        });

        $('#editor-bs').click(function () {
            setEditor('editor-bs');
        });

        $('#editor-a').click(function () {
            setEditor('editor-a');
        });

        $(document).ready(function () {
            selectEditor($('#editor').text());
        });
    </script>
</body>
</html>
