<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Rascal demo</title>
    <link rel="shortcut icon" href="/editor/static/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/editor/static/style.css">
    <link rel="stylesheet" type="text/css" href="/editor/static/codemirror2/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="/editor/static/codemirror2/theme/default.css">
    <link rel="stylesheet" type="text/css" href="/editor/static/codemirror2/theme/night.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Molengo'">
    <link rel="stylesheet" type="text/css" href="/editor/static/jquery.filetree.css">

    <script src="/editor/static/codemirror2/lib/codemirror.js"></script>
    <script src="/editor/static/codemirror2/mode/css/css.js"></script>
    <script src="/editor/static/codemirror2/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/editor/static/codemirror2/mode/javascript/javascript.js"></script>
    <script src="/editor/static/codemirror2/mode/python/python.js"></script>
    <script src="/editor/static/codemirror2/mode/xml/xml.js"></script>
    <script src="/editor/static/jquery-1.5.js"></script>
    <script src="/editor/static/jquery.filetree.js"></script>
</head>
<body>
    <div id="topbar">
        <div class="rascalcontent">
            <a href="/edit"><img id="rascallogo" src="/editor/static/rm-logo-words-only-light.png"></a>
            <ul id="nav">
                <li><a href="/log">log</a> | </li>
                <li><a href="/config">config</a> | </li>
                <li><a href="/monitor">monitor</a></li>
            </ul>
        </div>
    </div>
    <div class="rascalcontent">
        <input id="reload" value="Reload pytronics" class="large red awesome" alt="Reload pytronics">
        <textarea id="message-panel" class="cm-s-night">In theory, there will be console messages here.</textarea>
        <div id="editor">
            <form method="POST" action="/save">
                <div id="button-bar">
                    <input id="save" type="submit" value="Save" class="large red awesome" alt="Save">
                    <input id="path" type="hidden" name="path" value="{{ path }}">
                </div>
                <div id="location-bar">
                    &nbsp;<a href="/{{ target }}">{{ path }}</a>
                </div>
                <div id="textfield">
                    <textarea id="code" cols="100" rows="120" name="text">{{text_to_edit}}</textarea>
                </div>
            </form>
        </div>
        <div id="ft-background">
            <div id="filetree" class="cm-s-night"></div>
        </div>
        <div id="new-file-folder-bar">
            <img id="new-file" src="/editor/static/oxygen-new-file-32x32.png">
            <img id="new-folder" src="/editor/static/oxygen-new-folder-32x32.png">
        </div>
        <div id="overlay">
            <div id="new-file-dialog">
                Create a new file
                <form method="POST" action="/new_file">
                    <fieldset>
                        <label for="filename">Filename</label>
                        <input type="text" name="filename" id="filename"/>
                        <input id="create" type="submit" value="Create" class="large red awesome" alt="Create">
                        <input id="cancel" type="submit" value="Cancel" class="large red awesome" alt="Cancel">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
        mode: "text", // text mode doesn't exist explicitly, but setting it provokes plain text by default
        tabMode: "shift",
        indentUnit: "4",
        enterMode: "keep",
        electricChars: false,
        theme: "night"
    });

    function pickMode(ext) {
        switch(ext.toLowerCase()) {
            case "css":
                return "css";
            case "js":
                return "javascript";
            case "py":
                return "python";
            default:
                return "htmlmixed";
        }
    }

    $(document).ready( function() {
        editor.setOption('mode', pickMode('{{ fileext }}'));
        $('#filetree').fileTree({ root: '/var/www/public/', script: '/get_dirlist', multiFolder: false }, function(path) {
            window.location = "/edit/" + path.split('/var/www/public/')[1];
        });
        if("{{ folder }}" !== "") { // If we're editing a file, expand the directory it's in and list the contents
            $.post("/get_dirlist", {dir: "/var/www/public/{{ folder }}"}, function(response) {
                $('#filetree ul li a:contains({{ folder }})').parent().append(response);
                $('.jqueryFileTree').show();
                $('#filetree ul li a:contains({{ folder }})').parent().removeClass('collapsed').addClass('expanded');
            });
        }
    });

    $('#reload').bind('click', function(event) {
        $.post('/reload', "text");
    });

    $('#new-folder').bind('click', function(event) {
        $.post('/new_folder', {filename: 'newfolder'});
    });

    $(function() {
        
        var filename = $( "#filename" );
 
        $( "#new-file" ).click(function() {
                $( "#overlay" ).css("visibility", "visible");
        });
    });

    $('li').live('mouseenter mouseleave', function(event) {
        if(event.type == 'mouseenter') {
            $(this).children('img').css('visibility', 'visible');
        } else {
            $(this).children('img').css('visibility', 'hidden');

        }
    });

    </script>
</body>
</html>
