<!DOCTYPE html>
<html lang="en">
<head>
    <title>Editor</title>
    {% include "include/editor-head.html" %}

    <link rel="stylesheet" type="text/css" href="/editor/static/css/editor.css">
    <link rel="stylesheet" type="text/css" href="/editor/static/css/jquery.filetree.css">
    <link rel="stylesheet/less" type="text/css" href="/editor/static/css/themes-cm.less">

    <script src="/editor/static/ace/build/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src-noconflict/theme-textmate.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src-noconflict/theme-solarized_light.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src-noconflict/theme-solarized_dark.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src-noconflict/theme-tomorrow_night_bright.js" type="text/javascript" charset="utf-8"></script>

    <script src="/editor/static/ace/build/src-noconflict/mode-css.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src-noconflict/mode-html.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src-noconflict/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src-noconflict/mode-python.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src-noconflict/mode-text.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src-noconflict/mode-xml.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src-noconflict/mode-less.js" type="text/javascript" charset="utf-8"></script>
    
    {% include "include/editor-scripts.html" %}
    <script src="/editor/static/js/jquery.filetree.js"></script>
    <script src="/editor/static/js/rascal-1.03.js"></script>
    
    <style>
        #ace-editor {
            top:  0;
            left: 0;
            width: 888px;
            height: 475px;
            font-size: 12px;
            line-height: 1.4em;
            background-color: white;
            border: 3px solid #424242;
            -moz-box-shadow: 0 0 3px #3A3A3A;
            -webkit-box-shadow: 0 0 3px #3A3A3A;
            box-shadow: 0 0 3px #3A3A3A;
        }
    </style>
</head>
<body>
    {% include "include/editor-topbar.html" %}

    <div class="container-fluid">
        <div class="buttons">
            <input id="reload" type="button" value="Reload pytronics" class="btn btn-large btn-danger rascal" alt="Reload pytronics">
            <input id="save" type="button" value="Save" class="btn btn-large btn-danger rascal" alt="Save">
        </div>
        <div class="progress-bars">
            <div class="progress-reload">
                <div id="reload-progress" class="progress progress-danger rascal">
                    <div id="reload-bar" class="bar" style="width: 0%;"></div>
                </div>
            </div>
            <div class="progress-save">
                <div id="save-progress" class="progress progress-danger rascal">
                    <div id="save-bar" class="bar" style="width: 0%;"></div>
                </div>
            </div>
            <div id="save-message">Saved file</div> 
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">    
            <div class="span3">
                  <div id="ft-background" class="well rascal rm-well-default">
                        <div id="filetree">&nbsp;</div>
                  </div><!--/.well -->
                   <div id="new-file-folder-bar" class="well rascal rm-well-default">
                        <img id="new-template" src="/editor/static/images/oxygen-new-file-32x32.png" />
                        <img id="new-folder" src="/editor/static/images/oxygen-new-folder-32x32.png" />
                        <img id="rename-file" src="/editor/static/images/oxygen-rename-file-32x32.png" />
                        <img id="preferences" src="/editor/static/images/oxygen-actions-32x32.png" />
                  </div><!--/.well -->
            </div>
            <div class="span9">
                <input id="path" type="hidden" name="path" value="{{ path }}">
                <div id="location-bar" class="well rascal rm-well-default">&nbsp;</div>
                <div id="textfield">
                    <div id="ace-editor">{{text_to_edit}}</div>
                    <div id="frame-p" class="frame"></div>
                </div>
            </div>
        </div> <!-- /row -->
    </div> <!-- /container -->
    
    <!-- modal dialogues -->
    <div id="modal-t" class="modal fade hide rascal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Create a new template</h3>
        </div>
        <div class="modal-body">
            <p id="template-message">&nbsp;</p>
            <input id="template-name" type="text" name="template-name" />
        </div>
        <div class="modal-footer">
            <a id="template-cancel" href="#" class="btn">Cancel</a>
            <a id="template-create" href="#" class="btn btn-danger">Create template</a>
        </div>
    </div>

    <div id="modal-f" class="modal fade hide rascal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Create a new folder in "static"</h3>
        </div>
        <div class="modal-body">
            <p id="folder-message">&nbsp;</p>
            <input id="folder-name" type="text" name="folder-name" />
        </div>
        <div class="modal-footer">
            <a id="folder-cancel" href="#" class="btn">Cancel</a>
            <a id="folder-create" href="#" class="btn btn-danger">Create folder</a>
        </div>
    </div>

    <div id="modal-n" class="modal fade hide rascal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Rename file</h3>
        </div>
        <div class="modal-body">
            <p id="rename-message">&nbsp;</p>
            <input id="rename-name" type="text" name="rename-name" />
        </div>
        <div class="modal-footer">
            <a id="rename-cancel" href="#" class="btn">Cancel</a>
            <a id="rename-yes" href="#" class="btn btn-danger">Rename</a>
        </div>
    </div>

    <div id="modal-s" class="modal fade hide rascal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Save file</h3>
        </div>
        <div class="modal-body">
            <p id="save-file-message">&nbsp;</p>
        </div>
        <div class="modal-footer">
            <a id="save-no" href="#" class="btn btn-warning">Don't Save</a>
            <a id="save-cancel" href="#" class="btn">Cancel</a>
            <a id="save-yes" href="#" class="btn btn-danger">Save</a>
        </div>
    </div>

    <div id="modal-r" class="modal fade hide rascal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Revert file</h3>
        </div>
        <div class="modal-body">
            <p id="revert-file-message">&nbsp;</p>
        </div>
        <div class="modal-footer">
            <a id="revert-cancel" href="#" class="btn">Cancel</a>
            <a id="revert-yes" href="#" class="btn btn-danger">Revert</a>
        </div>
    </div>

    <div id="modal-d" class="modal fade hide rascal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Delete a file or folder</h3>
        </div>
        <div class="modal-body">
            <p id="delete-file-message">&nbsp;</p>
        </div>
        <div class="modal-footer">
            <a id="delete-cancel" href="#" class="btn">Cancel</a>
            <a id="delete-yes" href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
    
    <div id="modal-p" class="modal fade hide rascal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Ace Preferences</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group rascal">
                        <label class="control-label" for="theme">Theme</label>
                        <div class="controls">
                            <select id="theme" class="span3">
                                <option value="textmate" selected="selected">TextMate</option>
                                <option value="solarized_light">Solarized Light</option>
                                <option value="solarized_dark">Solarized Dark</option>
                                <option value="tomorrow_night_bright">Tomorrow Night Bright</option>
                            </select>
                        </div> <!-- controls -->
                    </div> <!-- control-group -->
                    <div class="control-group rascal">
                        <label class="control-label" for="fontSize">Font size</label>
                        <div class="controls">
                            <input id="fontSize" type="number" value="12" min="9" max="72" class="span1" />
                            <span class="help-inline rascal">9-72 px</span>
                        </div> <!-- controls -->
                    </div> <!-- control-group -->
                    <div class="control-group rascal">
                        <label class="control-label" for="lineHeight">Line height</label>
                        <div class="controls">
                            <input id="lineHeight" type="number" value="1.4" min="1.0" max="6.0" step="0.1" class="span1" />
                            <span class="help-inline rascal">1.0-6.0 em</span>
                        </div> <!-- controls -->
                    </div> <!-- control-group -->
                    <div class="control-group rascal">
                        <label class="control-label" for="tabSize">Tab size</label>
                        <div class="controls">
                            <input id="tabSize" type="number" value="4" min="1" max="64" class="span1" />
                            <span class="help-inline rascal">width of a tab character</span>
                        </div> <!-- controls -->
                    </div> <!-- control-group -->
                    <div class="control-group rascal">
                        <div class="controls">
                            <label class="checkbox">
                                <input id="softTabs" type="checkbox" name="softTabs" />Soft tabs
                            </label>
                            <label class="checkbox">
                                <input id="visibleTabs" type="checkbox" name="visibleTabs" />Visible tabs
                            </label>
                        </div> <!-- controls -->
                    </div> <!-- control-group -->
                    <div class="control-group rascal">
                     <div class="control-group rascal">
                        <label class="control-label" for="wrapOff">Wrap lines</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input id="wrapOff" type="radio" name="wrapLines" value="0" checked="checked" />Off
                            </label>
                            <label class="radio inline">
                                <input id="wrapOn" type="radio" name="wrapLines" value="1" />At window width
                            </label>
                            <label class="radio inline">
                                <input id="wrap80" type="radio" name="wrapLines" value="2">At page width
                            </label>
                        </div> <!-- controls -->
                    </div> <!-- control-group -->
                     <div class="control-group rascal">
                        <label class="control-label" for="lineNumbers">Other options</label>
                        <div class="controls">
                            <label class="checkbox">
                                <input id="lineNumbers" type="checkbox" name="lineNumbers" />Show line numbers
                            </label>
                            <label class="checkbox">
                                <input id="matchBrackets" type="checkbox" name="matchBrackets" />Auto-pair brackets, quotes etc.
                            </label>
                            <label class="checkbox">
                                <input id="highlightSelectedWord" type="checkbox" name="highlightSelectedWord" />Highlight selected word
                            </label>
                        </div> <!-- controls -->
                    </div> <!-- control-group -->
                </fieldset>
            </form>
        </div> <!-- /modal-body -->
        <div class="modal-footer">
            <a id="prefs-defaults" href="#" class="btn btn-warning">Restore Defaults</a>
            <a id="prefs-cancel" href="#" class="btn">Cancel</a>
            <a id="prefs-save" href="#" class="btn btn-danger">Save</a>
        </div>
    </div>
    <!-- /modal dialogues -->

    <script src="/editor/static/js/editor-resize.js"></script>
    <script src="/editor/static/js/editor-a.js"></script>
    <script src="/editor/static/js/editor.js"></script>
    <script type="text/javascript">
    
        var delay = (function () {
            var timer = 0;
            return function(callback, ms) {
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
            };
        })();
        
        function adjustGeometry () {
            var w, h, dw, dh;
            if (ADJUSTSIZE) {
                w = $(window).width();
                h = $(window).height();
                saveMsg(w + ' x ' + h);
                console.log('size ' + w + ' x ' + h);
                dw = (w > (1260 + XW)) ? w - (1260 + XW) : 0;
                dh = (h > (637 + XH)) ? h - (637 + XH) : 0;
                console.log('resize ' + dw + ' x ' + dh);
               //  $('.rascalcontent').width(1260 + dw);
                $('#filetree').height(455 + dh);
                $('#ace-editor').height(475 + dh);
                $('#ace-editor').width($('#textfield').width() - 6);
                editor.resize();
                if (rascal.picture.showing) {
                    $('#frame-p')
                        .height($('#ace-editor').height())
                        .width($('#ace-editor').width());
                    rascal.picture.resize();
                }
            }
        }
        
        $(document).ready(function () {
            initEditor();
            initPreferences();
            adjustGeometry();
            initRascalDnd ();
            displayTree('/var/www/public/templates/');
            $(window).resize(function () {
                delay(function () {
                    adjustGeometry();
                }, 500);
            });
        });
    </script>
</body>
</html>
