<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/favicon.ico">

    <link href="static/css/bootstrap-2.0.3.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
        
    <link rel="stylesheet" type="text/css" href="/editor/static/css/editor-all.css">
    <link rel="stylesheet" type="text/css" href="/editor/static/css/editor.css">
    <link rel="stylesheet" type="text/css" href="/editor/static/css/jquery.filetree.css">

    <script src="/editor/static/ace/build/src/ace-noconflict.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src/theme-textmate-noconflict.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src/theme-cobalt-noconflict.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/editor/static/ace/build/src/mode-css-noconflict.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src/mode-html-noconflict.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src/mode-javascript-noconflict.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src/mode-python-noconflict.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src/mode-text-noconflict.js" type="text/javascript" charset="utf-8"></script>
    <script src="/editor/static/ace/build/src/mode-xml-noconflict.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/editor/static/js/jquery-1.7.2.js"></script>
    <script src="/editor/static/js/jquery.filetree.js"></script>
    <script src="/editor/static/js/rascal-1.03.js"></script>
    <script src="static/js/bootstrap-2.0.3.js"></script>
    
    <style>
        #ace-editor {
            top:  3px;
            left: 3px;
            /* width: 908px; */
            width: 888px;
            height: 475px;
            background-color: white;
            border: 3px solid #424242;
            -moz-box-shadow: 0 0 3px #3A3A3A;
            -webkit-box-shadow: 0 0 3px #3A3A3A;
            box-shadow: 0 0 3px #3A3A3A;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand rascal" href="/editor/"><img id="rascallogo" src="/editor/static/images/rm-logo-words-only-light.png" /></a>
                <div class="nav-collapse rascal">
                    <ul class="nav_rascal">
                        <li><a href="/editor/">editor</a> | </li>
                        <li><a href="/editor/log">log</a> | </li>
                        <li><a href="/editor/config">config</a> | </li>
                        <li><a href="/editor/monitor">monitor</a></li>
                    </ul>
                    <ul class="nav_rascal">
                        <li><a href="/editor/logout" class="logout">log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="buttons">
            <input id="reload" type="button" value="Reload pytronics" class="btn btn-large btn-danger rascal" alt="Reload pytronics">
            <input id="save" type="button" value="Save" class="btn btn-large btn-danger rascal" alt="Save">
        </div>
        <div class="progress-bars">
            <div class="progress-reload">
                <div id="reload-progress" class="progress progress-danger rascal">
                    <div id="reload-bar" class="bar" style="width: 0%;"></div>
                </div>
            </div>
            <div class="progress-save">
                <div id="save-progress" class="progress progress-danger rascal">
                    <div id="save-bar" class="bar" style="width: 0%;"></div>
                </div>
            </div>
            <div id="save-message">Saved file</div> 
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">    
            <div class="span3">
                  <div class="well sidebar-nav rascal night">
                        <div id="filetree">&nbsp;</div>
                  </div><!--/.well -->
                   <div class="well sidebar-nav rascal night">
                        <img id="new-template" src="/editor/static/images/oxygen-new-file-32x32.png" />
                        <img id="new-folder" src="/editor/static/images/oxygen-new-folder-32x32.png" />
                        <img id="preferences" src="/editor/static/images/oxygen-actions-32x32.png" />
                  </div><!--/.well -->
            </div>
            <div class="span9">
                <input id="path" type="hidden" name="path" value="{{ path }}">
                <div id="location-bar" class="well sidebar-nav rascal night">&nbsp;</div>
                <div id="textfield">
                    <div id="ace-editor">{{text_to_edit}}</div>
                    <div id="frame-p" class="frame"></div>
                </div>
            </div>
        </div> <!-- /row -->
    </div> <!-- /container -->
    
    <!-- modal dialogues -->
    <div id="modal-t" class="modal fade hide rascal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Create a new template</h3>
        </div>
        <div class="modal-body">
            <p id="template-message">The name you type should end in .html</p>
            <input id="template-name" type="text" name="template-name" />
        </div>
        <div class="modal-footer">
            <a id="cancel-template" href="#" class="btn">Cancel</a>
            <a id="create-template" href="#" class="btn btn-danger">Create template</a>
        </div>
    </div>

    <div id="modal-f" class="modal fade hide rascal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Create a new folder in "static"</h3>
        </div>
        <div class="modal-body">
            <p id="folder-message">You will be able to drag it to another folder</p>
            <input id="folder-name" type="text" name="folder-name" />
        </div>
        <div class="modal-footer">
            <a id="cancel-folder" href="#" class="btn">Cancel</a>
            <a id="create-folder" href="#" class="btn btn-danger">Create folder</a>
        </div>
    </div>

    <div id="modal-s" class="modal fade hide rascal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Save file</h3>
        </div>
        <div class="modal-body">
            <p id="save-file-message">&nbsp;</p>
        </div>
        <div class="modal-footer">
            <a id="save-no" href="#" class="btn btn-warning">Don't Save</a>
            <a id="save-cancel" href="#" class="btn">Cancel</a>
            <a id="save-yes" href="#" class="btn btn-danger">Save</a>
        </div>
    </div>

    <div id="modal-r" class="modal fade hide rascal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Revert file</h3>
        </div>
        <div class="modal-body">
            <p id="revert-file-message">&nbsp;</p>
        </div>
        <div class="modal-footer">
            <a id="revert-cancel" href="#" class="btn">Cancel</a>
            <a id="revert-yes" href="#" class="btn btn-danger">Revert</a>
        </div>
    </div>

    <div id="modal-d" class="modal fade hide rascal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Delete a file or folder</h3>
        </div>
        <div class="modal-body">
            <p id="delete-file-message">&nbsp;</p>
        </div>
        <div class="modal-footer">
            <a id="delete-cancel" href="#" class="btn">Cancel</a>
            <a id="delete-yes" href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
    <!-- /modal dialogues -->

    <script src="/editor/static/js/editor-resize.js"></script>
    <script src="/editor/static/js/editor-a.js"></script>
    <script src="/editor/static/js/editor.js"></script>
    <script type="text/javascript">
    
        var delay = (function () {
            var timer = 0;
            return function(callback, ms) {
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
            };
        })();
        
        function adjustGeometry () {
            var w, h, dw, dh;
            if (ADJUSTSIZE) {
                w = $(window).width();
                h = $(window).height();
                saveMsg(w + ' x ' + h);
                console.log('size ' + w + ' x ' + h);
                dw = (w > (1260 + XW)) ? w - (1260 + XW) : 0;
                dh = (h > (637 + XH)) ? h - (637 + XH) : 0;
                console.log('resize ' + dw + ' x ' + dh);
               //  $('.rascalcontent').width(1260 + dw);
                $('#filetree').height(461 + dh);
                $('#ace-editor').height(475 + dh);
                 $('#ace-editor').width($('#textfield').width() - 8);
                editor.resize();
                if (rascal.picture.showing) {
                    $('#frame-p')
                        .height($('#ace-editor').height())
                        .width($('#ace-editor').width());
                    rascal.picture.resize();
                }
            }
        }
        
        $(document).ready(function () {
            initEditor();
            initPreferences();
            adjustGeometry();
            initRascalDnd ();
            displayTree('/var/www/public/templates/');
            $(window).resize(function () {
                delay(function () {
                    adjustGeometry();
                }, 500);
            });
        });
    </script>
</body>
</html>
