<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Editor</title>
    <link rel="shortcut icon" href="/editor/static/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/editor/static/editor.css">
    <link rel="stylesheet" type="text/css" href="/editor/static/codemirror2/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="/editor/static/codemirror2/theme/default.css">
    <link rel="stylesheet" type="text/css" href="/editor/static/codemirror2/theme/night.css">
    <!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Molengo"> -->
    <link rel="stylesheet" type="text/css" href="/editor/static/jquery.filetree.css">

    <script src="/editor/static/codemirror2/lib/codemirror.js"></script>
    <script src="/editor/static/codemirror2/mode/css/css.js"></script>
    <script src="/editor/static/codemirror2/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/editor/static/codemirror2/mode/javascript/javascript.js"></script>
    <script src="/editor/static/codemirror2/mode/python/python.js"></script>
    <script src="/editor/static/codemirror2/mode/xml/xml.js"></script>
    <script src="/editor/static/jquery-1.5.js"></script>
    <script src="/editor/static/jquery.filetree.js"></script>
    <script src="/editor/static/rascal-1.02.js"></script>
</head>
<body>
    <div id="topbar">
        <div class="rascalcontent">
            <a href="/editor/"><img id="rascallogo" src="/editor/static/images/rm-logo-words-only-light.png"></a>
            <ul id="nav">
                <li><a href="/editor/">editor</a> | </li>
                <li><a href="/editor/log">log</a> | </li>
                <li><a href="/editor/config">config</a> | </li>
                <li><a href="/editor/monitor">monitor</a></li>
            </ul>
            <div class=metanav>
                <a href="/editor/logout">log out</a>
            </div>
        </div>
    </div>
    <div class="rascalcontent">
        <div id="buttons">
            <input id="reload" type="button" value="Reload pytronics" class="large red awesome" alt="Reload pytronics">
            <input id="save" type="button" value="Save" class="large red awesome" alt="Save">
        </div>
        <div id="progress-bars">
            <img id="save-progress" src="/editor/static/images/progressbar.gif">
            <div id="save-message">Saved file</div>
            <img id="reload-progress" src="/editor/static/images/progressbar.gif">
        </div>
        <div id="editor">
            <form>
                <input id="path" type="hidden" name="path" value="{{ path }}">
                <div id="location-bar">&nbsp;</div>
                <div id="textfield">
                    <textarea id="code" cols="100" rows="120" name="text">{{text_to_edit}}</textarea>
                </div>
            </form>
        </div>
        <div id="ft-background">
            <div id="filetree" class="cm-s-night"></div>
        </div>
        <div id="new-file-folder-bar">
            <img id="new-template" src="/editor/static/images/oxygen-new-file-32x32.png" />
            <img id="new-folder" src="/editor/static/images/oxygen-new-folder-32x32.png" />
        </div>
        <div id="overlay-t">OVERLAY TEMPLATE
            <div id="new-template-dialog">
                Create a new template<br />
                <div class="small">The name you type should end in .html</div>
                <fieldset>
                    <input id="template-name" type="text" name="template-name" /><br />
                    <input id="create-template" type="button" value="Create" class="large red awesome" alt="Create" />
                    <input id="cancel-template" type="button" value="Cancel" class="large red awesome" alt="Cancel" />
                </fieldset>
            </div>
        </div>
        <div id="overlay-f">OVERLAY FOLDER
            <div id="new-folder-dialog">
                Create a new folder in "static"<br />
                <div id="folder-message" class="small">You will be able to drag it to another folder</div>
                <fieldset>
                    <input id="folder-name" type="text" name="folder-name" /><br />
                    <input id="create-folder" type="button" value="Create" class="large red awesome" alt="Create" />
                    <input id="cancel-folder" type="button" value="Cancel" class="large red awesome" alt="Cancel" />
                </fieldset>
            </div>
        </div>
    </div>
    <script src="/editor/static/editor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            initRascalDnd ();
            displayTree('/var/www/public/templates/');
        });
    </script>
</body>
</html>
