<!DOCTYPE html>
<!-- Editor view logs -->
<!-- JSLint 8 Oct 2012 -->
<html lang="en">
<head>
    <title>Log</title>
    {% include "include/editor-head.html" %}
    <link rel="stylesheet" type="text/css" href="/editor/static/css/editor-other.css">
    {% include "include/editor-scripts.html" %}
</head>
<body>
    {% include "include/editor-topbar.html" %}

    <div class="container-fluid">
        <input id="mark" type="button" value="Mark" class="btn btn-large btn-danger rascal" alt="Mark">
        <br />
        Webserver access log (serves static files)
        <div class="log-display">
            <table class="zebra">
                <tr><td>{{ access | safe }}</td></tr>
            </table>
        </div>
        Webserver error log
        <div class="log-display">
            <table class="zebra">
                <tr><td>{{ error | safe }}</td></tr>
            </table>
        </div>
        App server (interprets Python and fills templates)
        <div class="log-display">
            <table class="zebra">
                <tr><td>{{ app | safe }}</td></tr>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            "use strict";
            $(".zebra tr").mouseover(function () { $(this).addClass("over"); }).mouseout(function () { $(this).removeClass("over"); });
            $(".zebra tr:even").addClass("alt");
        });

        $("#mark").click(function () {
            "use strict";
            $.post("/editor/mark", { fake: "hat" });
        });
     </script>
</body>
</html>
