<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Log</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    
    <link href="static/css/bootstrap-2.0.3.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet"> -->

    <link rel="stylesheet" type="text/css" href="/editor/static/css/editor-all.css">
    <link rel="stylesheet" type="text/css" href="/editor/static/css/editor-other.css">

    <script src="/editor/static/js/jquery-1.7.2.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand rascal" href="/editor/"><img id="rascallogo" src="/editor/static/images/rm-logo-words-only-light.png" /></a>
                <div class="nav-collapse rascal">
                    <ul class="nav_rascal">
                        <li><a href="/editor/">editor</a> | </li>
                        <li><a href="/editor/log">log</a> | </li>
                        <li><a href="/editor/config">config</a> | </li>
                        <li><a href="/editor/monitor">monitor</a></li>
                    </ul>
                    <ul class="nav_rascal">
                        <li><a href="/editor/logout" class="logout">log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <input id="mark" type="button" value="Mark" class="btn btn-large btn-danger rascal" alt="Mark">
        <br />
        Webserver access log (serves static files)
        <div class="log-display">
            <table class="zebra">
                <tr><td>{{ access | safe }}</td></tr>
            </table>
        </div>
        Webserver error log
        <div class="log-display">
            <table class="zebra">
                <tr><td>{{ error | safe }}</td></tr>
            </table>
        </div>
        App server (interprets Python and fills templates)
        <div class="log-display">
            <table class="zebra">
                <tr><td>{{ app | safe }}</td></tr>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function (){
            $(".zebra tr").mouseover(function () {$(this).addClass("over");}).mouseout(function(){$(this).removeClass("over");});
            $(".zebra tr:even").addClass("alt");
        });

        $("#mark").click( function () {
            $.post("/editor/mark",{ fake: "hat" });
        });
     </script>
</body>
</html>
