<!doctype html>
<title>Login Demo</title>
<link rel="stylesheet" type="text/css" href="/editor/static/style.css">

<div class=page>
  <h1>Login Demo</h1>
  <div class=metanav>
  {% if current_user.is_authenticated() %}
    Welcome, {{ current_user.name }} | <a href="/logout">log out</a>
  {% else %}
    You are not logged in | <a href="/login">log in</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  <h2>Login</h2>
  <form action="" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Remember Me:
      <dd><input type=checkbox name=remember value=yes>
      <dd><input type=submit value=Login>
    </dl>
  </form>
</div>
