<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Rascal demo</title>
    <link rel="shortcut icon" href="/editor/static/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/editor/static/style.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Molengo'">

    <script src="http://code.jquery.com/jquery-1.5.js"></script>
</head>
<body>
    <div id="topbar">
        <div class="centered">
            <a href="/edit"><img id="rascallogo" src="/editor/static/rm-logo-words-only-light.png"></a>
            <div class=metanav>
            {% if current_user.is_authenticated() %}
              Welcome, {{ current_user.name }} | <a href="/logout">log out</a>
            {% else %}
              You are not logged in | <a href="/login">log in</a>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="narrow-content">
        <div class="centered">
            <form action="" method=post>
                <ul id="login-form">
                      <li>Username:</li>
                      <li><input id="password-field" type=text name=username><input id="login" type="submit" value="Login" class="large red awesome" alt="Login"></li>
                      <li>Remember password: <input type=checkbox name=remember value=yes></li>
                </ul>
            </form>
            {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(".flash").delay(5).fadeOut('slow');
    </script>
</body>
</html>
