<!DOCTYPE html>
<!-- Editor view processes -->
<!-- JSLint 8 Oct 2012 -->
<html lang="en">
<head>
    <title>Monitor</title>
    {% include "include/editor-head.html" %}
    <link rel="stylesheet" type="text/css" href="/editor/static/css/editor-other.css">
    {% include "include/editor-scripts.html" %}
</head>
<body>
    {% include "include/editor-topbar.html" %}
    <div class="container-fluid">
        <div class="log-display">
            <table class="zebra">
                <tr><td>{{ processes | safe }}</td></tr>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            "use strict";
            $(".zebra tr").mouseover(function () { $(this).addClass("over"); }).mouseout(function () { $(this).removeClass("over"); });
            $(".zebra tr:even").addClass("alt");
        });
     </script>
</body>
</html>
