<!DOCTYPE html>
<!-- 24 Feb 2012, 12 May 2012, 18 Jun 2012 dsmall -->
<!-- Requires: bootstrap, jquery, rascal-1.03, album.css, album.js, static/pictures folder, server.py support -->
<!-- JSLint 6 Oct 2012 jQuery $ rascal uploadItems loadPictures -->

<html lang="en">
<head>
    <title>Rascal Album</title>
    {% include "include/rascal-head.html" %}
    <link rel="stylesheet" type="text/css" href="static/css/demo-album.css">
    <script src="static/js/rascal-1.03.js"></script>
</head>
<body>
    {% include "include/rascal-topbar.html" %}
    <div class="container">
        <div class="well rascal">
            <div class="album">
                <h1>Rascal Album</h1>
                <span id="intro">You can drag more pictures onto the picture frame</span>
                <div id="frame">
                    <div id="slideshow"></div>
                </div>
                <div id="buttons" align="center">
                    <a id="previous" class="btn btn-large btn-info rascal left" href="#"><i class="icon-chevron-left icon-white"></i> Previous</a>
                    <a id="auto" class="btn btn-large btn-primary rascal" href="#">Slideshow <i id="auto-icon" class="icon-play icon-white"></i></a>
                    <a id="next" class="btn btn-large btn-info rascal right" href="#">Next <i class="icon-chevron-right icon-white"></i></a>
                </div>
                <p id="progress"></p>
                <div id="status"></div>
            </div> <!-- /.album -->
        </div>
    </div> <!-- /.container -->
    
    <script src="static/js/demo-album.js"></script>
    
    <script type="text/javascript">
        /* Initialise Rascal library */
        /* uploadItems and loadPictures are defined in demo-album.js */
        $(document).ready(function () {
            "use strict";
            // Initialise rascal-demo upload
            var rd = rascal.dnd;
            rd.container = 'frame';
            rd.root = 'static/pictures/';
            rd.filesDropped = uploadItems;
            rd.init();
            // Load images from the pictures folder
            loadPictures();
        });
    </script>
</body>
</html>
