<!DOCTYPE html>
<html>
<head>
    <title>BlinkM Demo</title>
    {% include "include/rascal-head.html" %}
    <link rel="stylesheet" href="static/css/mlColorPicker.css" type="text/css" />
    <script type="text/javascript" src="static/js/mlColorPicker.js"></script>
</head>
<body>
    {% include "include/rascal-topbar.html" %}
    <div class="container">
        <div class="well rascal">
            <h1>BlinkM LED color demo</h1>
            <div id="colorPicker2"style="padding:10px;clear:both;border:1px solid black;vertical-align:middle;">
                <span id="colorPicker2Span" style="float:left; border:1px solid black; width:20px; height:20px;margin:5px;"></span>
                <span id="text2" style="">Click anywhere in the box.</span>			
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            $("#colorPicker2").mlColorPicker({'onChange': function(val){
                $("#colorPicker2Span").css("background-color", "#" + val);
                $("#text2").text("#" + val);
                $.post("set-blinkm", "color=" + val);
            }});
        });
    </script>
</body>
</html>
