<!DOCTYPE html>
<!-- 19 June 2012 dsmall -->
<!-- JSLint 6 Oct 2012 jQuery $ Modernizr -->
<html lang="en">
<head>
    <title>Browser Test</title>
    {% include "include/rascal-head.html" %}
    <script src="static/js/modernizr-2.6.1.js"></script>
    <style>
        span.pass {
            color: lawngreen;
        }
        span.fail {
            color: orangered;
        }
    </style>
</head>
<body>
    {% include "include/rascal-topbar.html" %}
    <div class="container">
        <div class="well rascal">
            <h1>Browser Test</h1>
            <p>Features supported in this browser are indicated by "true" in the Status column.
                Features required for drag and drop in the editor and for the Upload and Album demos
                are indicated by "true" in the Required column:</p>
            <div id='what'></div>
        </div>
    </div>
 
    <script type="text/javascript">
        var s;

        function testfeature(name, result, required) {
            "use strict";
            var
                status = (result !== undefined),
                myClass = required ? ((status === required) ? 'pass' : 'fail') : '';
            s += '<tr><td>' + name + '<\/td><td>' + status + '<\/td><td><span class="' + myClass + '">' + required + '<\/span><\/td><\/tr>';
        }

        function test() {
            "use strict";
            var xhr = new XMLHttpRequest();
            s = '<table class="table table-bordered">';
            s += '<thead><tr><th>Feature<\/th><th>Status<\/th><th>Required<\/th><\/tr><\/thead>';
            s += '<tbody>';
            testfeature('Drag and Drop', Modernizr.draganddrop, true);
            testfeature('FileList', window.FileList, true);
            testfeature('File', window.File, true);
            testfeature('XMLHttpRequest.upload', xhr.upload, true);
            testfeature('FileReader', window.FileReader, false);
            testfeature('Blob', window.Blob, false);
            s += '<\/tbody>';
            s += '<\/table>';
            document.getElementById('what').innerHTML = s;
        }

        $(document).ready(function () {
            "use strict";
            test();
        });
    </script>
</body>
</html>
