<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rascal Font Book</title>
    <link rel="stylesheet" type="text/css" href="/static/demo.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <style>
        #molengo { font-family: "Molengo",sans-serif; }
        #urw { font-family: "URW Gothic L",sans-serif; }
        #ds { font-family: "DroidSans",sans-serif; }
        #dsb { font-family: "DroidSans-Bold",sans-serif; }
        #vt323 { font-family: "VT323",sans-serif; }
        p { font-size: 18pt; }
    </style>
</head>
<body>
    <div class="rascalcontent">
        <div id="molengo">
            <h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
            This is Molengo.
            <p>ABCDEFGHIJKLM<br />
                NOPQRSTUVWXYZ<br />
                abcdefghijklm<br />
                nopqrstuvwxyz<br />
                0123456789</p>
        </div>
        <hr>
        <div id="urw">
            <h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
            This is URW Gothic Book.
            <p>ABCDEFGHIJKLM<br />
                NOPQRSTUVWXYZ<br />
                abcdefghijklm<br />
                nopqrstuvwxyz<br />
                0123456789</p>
        </div>
        <hr>
        <div id="ds">
            <h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
            This is Droid Sans.
            <p>ABCDEFGHIJKLM<br />
                NOPQRSTUVWXYZ<br />
                abcdefghijklm<br />
                nopqrstuvwxyz<br />
                0123456789</p>
        </div>
        <hr>
        <div id="dsb">
            <h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
            This is Droid Sans Bold.
            <p>ABCDEFGHIJKLM<br />
                NOPQRSTUVWXYZ<br />
                abcdefghijklm<br />
                nopqrstuvwxyz<br />
                0123456789</p>
        </div>
        <hr>
        <div id="vt323">
            <h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
            This is VT323.
            <p>ABCDEFGHIJKLM<br />
                NOPQRSTUVWXYZ<br />
                abcdefghijklm<br />
                nopqrstuvwxyz<br />
                0123456789</p>
        </div>
    </div>
    <script language="javascript" type="text/javascript">
    // You could add some Javascript between these script tags, if you want.
    // jQuery and jqPlot are already included in the header above.
    </script>
</body>
</html>
