<!DOCTYPE html>
<html>
<head>
    <title>Motor control demo</title>
    {% include "include/rascal-head.html" %}
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />
</head>
<body>
    {% include "include/rascal-topbar.html" %}
    <div class="container">
        <div class="well rascal">
            <h1>Motor control demo</h1>
            <p>&nbsp;</p>
            <div id="slider"></div>
        </div>
    </div>

    <script language="javascript" type="text/javascript">
        $(function() {
            $( "#slider" ).slider({ min: 0, max: 255 });
        });
        $( "#slider" ).bind( "slidestop", function(event, ui) {
            var value = $( "#slider" ).slider( "option", "value" );
            $.get("/i2cset/0x29/" + value + "/0/C");
        });
    </script>
</body>
</html>
