<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Relay demo</title>
    {% include "include/rascal-head.html" %}
</head>
<body>
    {% include "include/rascal-topbar.html" %}
    <div class="container">
        <div class="well rascal">
            <h1>Relay demo</h1>
            <form id="relay-form">
                <label for="target_state">Toggle relay to charge and discharge capacitor:</label>
                <select id="target_state">
                    {% if pin == "1" %}
                    <option value="0">Off</option>
                    <option value="1" selected="selected">On</option>
                    {% else %}
                    <option value="0" selected="selected">Off</option>
                    <option value="1">On</option>
                    {% endif %}
                </select>
            </form>
            <div id="chart1" style="height:600px;width:800px;"></div>
        </div>
    </div>
    <script type="text/javascript">
    $("#target_state").change(function() {
        $.post("toggle", "target_state=" + $("#target_state").val());
    });

    chartOptions = {
        legend: {
            show: true,
            location: "nw" },
        title: "Rascal voltage readings",
        series: [
            {label: "Channel A0", lineWidth:3, showMarker:false},
            {label: "Channel A1", lineWidth:3, showMarker:false},
            {label: "Channel A2", lineWidth:3, showMarker:false},
            {label: "Channel A3", lineWidth:3, showMarker:false}
        ],
        axes: {
            xaxis: {
                label: "Time [seconds ago]",
                min: 0,
                max: 120,
                pad: 0 },
            yaxis: {
                label: "Voltage [V]",
                min: 0,
                max: 4.0 },
        },
        seriesColors: [ "#4bb2c5", "#cd2820", "#EAA228", "#579575", "#839557", "#958c12",
                "#953579", "#4b5de4", "#d8b83f", "#ff5800", "#0085cc"]
    };

    a0 = new Array();
    a1 = new Array();
    a2 = new Array();
    a3 = new Array();

    setInterval(function() {
        $.post("analog", function(response) {
            data = $.parseJSON(response);
            if(a0.length > chartOptions.axes.xaxis.max) {
                a0.shift();
                a1.shift();
                a2.shift();
                a3.shift();
            }
            a0.push(data.A0);
            a1.push(data.A1);
            a2.push(data.A2);
            a3.push(data.A3);
            $.jqplot("chart1", [a0, a1, a2, a3], chartOptions).replot();
        });
    }, 1000);
    </script>
</body>
</html>
