<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rascal demo</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Molengo">
    <link rel="stylesheet" type="text/css" href="public/static/style.css">
    <link rel="shortcut icon" href="public/static/favicon.ico"> 
    <script src="http://code.jquery.com/jquery-1.5.js"></script>
    <!--[if IE]><script language="javascript" type="text/javascript" src="/excanvas.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="public/static/jquery.jqplot.js"></script>
    <link rel="stylesheet" type="text/css" href="public/static/jquery.jqplot.css" />
    <script language="javascript" type="text/javascript">
    function tellRascal() {
        $.ajax({
            type: "POST",
            url: "toggle",
            data: "target_state=" + $("#target_state").val(),
            success: function(resp){},
            error: function(e){
                alert('Error: ' + e);
            }
        });
    }
    </script>
</head>
<body>
    <div class="rascalcontent">
        <h1>Relay demo</h1>
        <form id="relay-form">
            <label for="target_state">Toggle relay to charge and discharge capacitor:</label>
            <select id="target_state" onchange="tellRascal();">
                {% if pin == '1' %}
                <option value="0">Off</option>
                <option value="1" selected="selected">On</option>
                {% else %}
                <option value="0" selected="selected">Off</option>
                <option value="1">On</option>
                {% endif %}
            </select>
        </form>
        <div id="chart1" style="height:600px;width:900px;"></div>
    </div>
    <script language="javascript" type="text/javascript">
    line0 = {{chan0}}
    line1 = {{chan1}}
    line2 = {{chan2}}
    line3 = {{chan3}}
    $.jqplot("chart1", [line0, line1, line2, line3], {
        legend: {
            show: true,
            location: 'nw' },
        title: 'Rascal voltage readings',
        series: [
            {label: 'Channel 0 (relay)', lineWidth:3, showMarker:false},
            {label: 'Channel 1 (capacitor)', lineWidth:3, showMarker:false},
            {label: 'Channel 2', lineWidth:3, showMarker:false},
            {label: 'Channel 3', lineWidth:3, showMarker:false}
        ],
        axes: {
            xaxis: {
                label: 'Time [seconds ago]',
                min: -120,
                max: 0,
                pad: 0 },
            yaxis: {
                label: 'Voltage [V]',
                min: 0,
                max: 18.0 },
        },
        seriesColors: [ "#4bb2c5", "#cd2820", "#EAA228", "#579575", "#839557", "#958c12",
                "#953579", "#4b5de4", "#d8b83f", "#ff5800", "#0085cc"]
    });
    </script>
</body>
</html>
