<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Relay demo</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Molengo">
    <link rel="stylesheet" type="text/css" href="/static/demo.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script src="/static/jquery-1.5.js"></script>
    <!--[if IE]><script language="javascript" type="text/javascript" src="/excanvas.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="/static/jquery.jqplot.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/jquery.jqplot.css" />
</head>
<body>
    <div class="rascalcontent">
        <h1>Relay demo</h1>
        <form id="relay-form">
            <label for="target_state">Toggle relay to charge and discharge capacitor:</label>
            <select id="target_state">
                {% if pin == '1' %}
                <option value="0">Off</option>
                <option value="1" selected="selected">On</option>
                {% else %}
                <option value="0" selected="selected">Off</option>
                <option value="1">On</option>
                {% endif %}
            </select>
        </form>
        <div id="chart1" style="height:600px;width:900px;"></div>
    </div>
    <script language="javascript" type="text/javascript">
    $('#target_state').change(function() {
        $.post("toggle", "target_state=" + $("#target_state").val());
    });

    chartOptions = {
        legend: {
            show: true,
            location: 'nw' },
        title: 'Rascal voltage readings',
        series: [
            {label: 'Channel 0 (relay)', lineWidth:3, showMarker:false},
            {label: 'Channel 1 (capacitor)', lineWidth:3, showMarker:false},
            {label: 'Channel 2', lineWidth:3, showMarker:false},
            {label: 'Channel 3', lineWidth:3, showMarker:false}
        ],
        axes: {
            xaxis: {
                label: 'Time [seconds ago]',
                min: 0,
                max: 120,
                pad: 0 },
            yaxis: {
                label: 'Voltage [V]',
                min: 0,
                max: 4.0 },
        },
        seriesColors: [ "#4bb2c5", "#cd2820", "#EAA228", "#579575", "#839557", "#958c12",
                "#953579", "#4b5de4", "#d8b83f", "#ff5800", "#0085cc"]
    };

    a0 = new Array();
    a1 = new Array();
    a2 = new Array();
    a3 = new Array();

    setInterval(function() {
        $.post("analog", function(response) {
            data = $.parseJSON(response);
            if(a0.length > chartOptions.axes.xaxis.max) {
                a0.shift();
                a1.shift();
                a2.shift();
                a3.shift();
            }
            a0.push(data.A0);
            a1.push(data.A1);
            a2.push(data.A2);
            a3.push(data.A3);
            $.jqplot("chart1", [a0, a1, a2, a3], chartOptions).replot();
        });
    }, 200);
    </script>
</body>
</html>
