<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Molengo">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <script src="/static/js/jquery-1.7.2.js"></script>
</head>
<body>
    <div class="rascalcontent">
        <input id="sprinkler-on" type="button" value="ON" class="large red awesome" alt="ON">
        <input id="sprinkler-off" type="button" value="OFF" class="large red awesome" alt="OFF">
    </div>
    <script language="javascript" type="text/javascript">
    $("#sprinkler-on").click( function() {
        $.post("/sprinkler", { Body: "squiggle" });
    });
    $("#sprinkler-off").click( function() {
        $.post("/sprinkler", { command: "OFF" });
    });
    </script>
</body>
</html>
