<!DOCTYPE html>
<html>
<head>
    <title>Test SPI Communication</title>
    {% include "include/rascal-head.html" %}
</head>
<body>
    {% include "include/rascal-topbar.html" %}
    <div class="container">
        <div class="well rascal">
            <h1>Test SPI Communication</h1>
            <p>Communicate with 1-4 devices using the Rascal's serial peripheral interface (SPI)</p>
            
            <button id="set-speed" class="btn btn-large btn-primary">Set speed</button>
            
            <h3>SPI Operations</h3>
            Set speed to: {{speed}} bps
            <p>The Rascal acts an SPI master node. It has 4 chip select lines that determine which slave it talks to.</p>
            <div class="span3">
                <div class="control-group">
                    <label class="control-label" for="size_byte">Transfer size</label>
                    <div class="controls">
                        <label class="radio inline">
                            <input id="size_byte" type="radio" name="sizeRadios" value="0" checked="checked" />
                            Channel 0
                        </label>
                        <label class="radio inline">
                            <input id="size_word" type="radio" name="sizeRadios" value="1" />
                            Channel 1
                        </label>
                        <label class="radio inline">
                            <input id="size_short" type="radio" name="sizeRadios" value="2" />
                            Channel 2
                        </label>
                        <label class="radio inline">
                            <input id="size_short" type="radio" name="sizeRadios" value="3" />
                            Channel 3
                        </label>
                    </div> <!-- /.controls -->
                </div> <!-- /.control-group -->
            </div> <!-- /.span3 -->
        </div> <!-- /.well rascal -->
    </div> <!-- /.container -->
    <script type="text/javascript">
    </script>
</body>
</html>