<!DOCTYPE html>
<!-- JSLint 7 Oct 2012 -->
<html lang="en">
<head>
    <title>File Upload</title>
    {% include "include/rascal-head.html" %}
    <style>
        dt { padding: 25px 0 5px; }
    </style>
</head>
<body>
    {% include "include/rascal-topbar.html" %}
    <div class="container">
        <div class="well rascal">
            <h1>File Upload</h1>
            <p>There are several ways you can upload files to Rascal:</p>
            <dl>
                <dt>scp - secure copy (remote file copy program)</dt>
                <dd>You can use the scp program in a console session on your OS X or Linux desktop to copy files to and from a Rascal:
                    <p></p>
                    <pre>scp ./somefile.js root@rascalNN.local:/var/www/public/static/</pre>
                </dd>
                <dt>sftp - secure file transfer protocol</dt>
                <dd>You could use the FireFTP Add-on for the FireFox browser to copy files to and from a Rascal.
                    Set the connection type to SFTP and login as root.</dd>
                <dt>Choose File button</dt>
                <dd>You can use an <code>&lt;input type="file"&gt;</code> button to browse for files and upload them but it is rather ugly.
                    This <a href="upload-cf.html" class="rascal red">demo</a> improves the button's appearance by overlaying a standard Rascal button.
                    For safety the demo is restricted to uploading image files to the folder static/uploads.
                    You will need to create this folder with the editor before running the demo.
                    After uploading an image file, you will be able to view it in the editor</dd>
                <dt>Drag and Drop</dt>
                <dd>If you are using an HTML5 compliant browser, you can copy files to Rascal by dragging them from your desktop and 
                    dropping them onto your browser. You can use <a href="browser-test.html" class="rascal red">this page</a> to check
                    that your browser has the necessary support. This <a href="upload-dd.html" class="rascal red">demo</a> illustrates drag and drop.
                    Like the previous demo, only image files are accepted and folder static/uploads must exist.</dd>
                <dt>Album</dt>
                <dd>The <a href="album.html" class="rascal red">album</a> demo builds on the Drag and Drop demo to provide a simple photo
                    album with a slideshow. Simply drag some pictures onto the frame. Pictures with a 4:3 aspect ratio work best.
                    The folder static/pictures must exist.</dd>
                <dt>Drag and Drop to the Editor</dt>
                <dd>The <a href="editor/" class="rascal red">editor</a> supports dragging of one or more files from your desktop and
                    dropping them onto the file tree.
                    Images, HTML, CSS, JavaScript or Python files can be transferred.</dd>
            </dl>
        </div> <!-- /.well -->
    </div> <!-- /.container -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <p>Example left footer</p>
                </div>
                <div class="span6">
                    <p style="float: right;">Example right footer</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
