<!DOCTYPE html>
<!-- 12 May 2012 dsmall rascal-1.03.js -->
<html>
<head>
    <meta charset="utf-8">
    <title>File Upload - Drag and Drop</title>
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
    <link rel="stylesheet" type="text/css" href="/static/css/rascal-demo.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script src="/static/js/jquery-1.7.2.js"></script>
    <script src="/static/js/rascal-1.03.js"></script>
    <style>
        #dropzone {
            padding: 30px 10px 30px;
            font-size: 1.4em;
            color: #bbb;
            text-align: center;
        }
        #dropzone.dragover {
            border-color: #fff;
        }
        .infobox {
            border: 2px dashed #999;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            width: 400px;
            padding: 5px 10px 20px;
        }
    </style>
</head>
<body>
    <div class="rascalcontent">
        <h1>Upload using Drag and Drop</h1>
        <p>Drag and drop image files onto the box</p>
        
        <div id="dropzone" class="infobox">Drop files here</div>
        <p id="progress" /> 
        <div id="status"></div>
        
        <h3>Files in the uploads directory:</h3>
        <div id="filelist" class="infobox"></div>
        <input id="clear" type="button" value="Clear Files" class="medium blue awesome" />
    </div>
    
    <script src="/static/js/rascal-demo.js"></script>

    <script type="text/javascript">
    
        // Called when the "Clear Files" button is clicked
        $('#clear').click( function() {
            rascal.directory.clearDirectory(rascal.directory.listDirectory);
        });

        // Initialise rascal library after everything is loaded
        $(document).ready(function() {

            // Initialise rascal.dnd 
            rascal.dnd.container = 'dropzone';
            rascal.dnd.root = 'static/uploads/'
            rascal.dnd.filesDropped = uploadItems;
            rascal.dnd.init();

           // Initialise rascal.directory
            rascal.directory.directory = 'static/uploads/';
            rascal.directory.listID = 'filelist';

            // Load file names from the uploads folder
            rascal.directory.listDirectory();
        });
    </script>
</body>
</html>
