<div class="well doc-panel">
    <a class="doc-tab" href="#">Documentation</a>
    <div id="doc-content">
        <div style="padding: 151px 109px"><img src="static/images/ajax-loader.gif" width="32" height="32"></div>
    </div>
</div>
<script type="text/javascript">
    var docTab = {
        
        docName: window.location.href.toString().split('/').pop().split('.').shift(),
        speed: 300,
        containerWidth: $('.doc-panel').outerWidth(),
        
        init: function() {

            $('.doc-panel').css('left', '-' + (parseInt($('.doc-panel').css('width')) + 40).toString() + 'px');

            $('a.doc-tab').click(function(event){
                if ($('.doc-panel').hasClass('open')) {
                    $('.doc-panel')
                        .animate({left:'-' + docTab.containerWidth}, docTab.speed)
                        .removeClass('open');
                } else {
                    $.post("/get_markdown", { docName: docTab.docName }, function (response) {
                        $('#doc-content').html(response);
                    }).error(function (jqXHR, textStatus, errorThrown) {
                        $('#doc-content').html('<h2>' + errorThrown + '</h2>');
                    });
                    $('.doc-panel')
                        .animate({left:'0'},  docTab.speed)
                        .addClass('open');
                }
                event.preventDefault();
            });
        }
    };
    
    docTab.init();
</script>
