<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Rascal demo</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codemirror2/lib/codemirror.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codemirror2/theme/default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codemirror2/theme/night.css') }}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Molengo'">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.filetree.css') }}">

    <script src="{{ url_for('static', filename='codemirror2/lib/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror2/mode/css/css.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror2/mode/htmlmixed/htmlmixed.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror2/mode/javascript/javascript.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror2/mode/python/python.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror2/mode/xml/xml.js') }}"></script>
    <script src="http://code.jquery.com/jquery-1.5.js"></script>
    <script src="{{ url_for('static', filename='jquery.filetree.js') }}"></script>
</head>
<body>
    <div id="topbar">
        <div class="rascalcontent">
            <img id="rascallogo" src="{{ url_for('static', filename='rm-logo-words-only-light.png') }}">
            <ul id="nav">
                <li>log | </li>
                <li>config | </li>
                <li>monitor</li>
            </ul>
        </div>
    </div>
    <div class="rascalcontent">
        <input id="reload" value="Reload pytronics" class="large red awesome" alt="Reload pytronics">
        <textarea id="message-panel" class="cm-s-night">In theory, there will be console messages here.</textarea>
        <div id="editor">
            <form method="POST" action="/save">
                <div id="button-bar">
                    <input id="save" type="submit" value="Save" class="large red awesome" alt="Save">
                    <input id="fileurl" type="hidden" name="fileurl" value="{{fileurl}}">
                    <input id="sourcefile" type="hidden" name="sourcefile" value="{{sourcefile}}">
                </div>
                <div id="textfield">
                    <textarea id="code" cols="100" rows="120" name="text">{{text_to_edit}}</textarea>
                </div>
            </form>
        </div>
        <div id="ft-background">
            <div id="filetree" class="cm-s-night"></div>
        </div>
        <div id="new-file-folder-bar">
            <img id="new-file" src="{{ url_for('static', filename='oxygen-new-file-32x32.png') }}">
            <img id="new-folder" src="{{ url_for('static', filename='oxygen-new-folder-32x32.png') }}">
        </div>
    </div>
    <script type="text/javascript">
    var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
        mode: "text", // text mode doesn't exist explicitly, but setting it provokes plain text by default
        tabMode: "shift",
        indentUnit: "4",
        enterMode: "keep",
        electricChars: false,
        theme: "night"
    });

    function pickMode(ext) {
        switch(ext.toLowerCase()) {
            case "css":
                return "css";
            case "js":
                return "javascript";
            case "py":
                return "python";
            default:
                return "htmlmixed";
        }
    }

    function openFile(path) {
        $.post('read_contents', {filepath: path}, function(result) {
            editor.setValue(result);
            a = path.split(".");
            ext = a[a.length - 1];
            editor.setOption('mode', pickMode(ext));
            $("#sourcefile").val(path);
        });
    };

    $(document).ready( function() {
        $('#filetree').fileTree({ root: '/var/www/editable/', script: '/get_dirlist' }, function(path) {
            openFile(path.split('/var/www/editable/')[1]);
        });
    });

    $('#reload').bind('click', function(event) {
        $.post('reload', '', alert('Pytronics reload has begun.'));
    });

    $('#new-file').bind('click', function(event) {
        $.post('new_file', {name: 'newfile.txt'}, alert('Pytronics reload has begun.'));
    });

    $('#new-folder').bind('click', function(event) {
        $.post('new_folder', {name: 'newfolder'}, alert('Pytronics reload has begun.'));
    });

    </script>
</body>
</html>
